version: "3.9"
services:
  # dsbot:
  #   build: .
  #   ports:
  #     - 5000:5000

  rasa:
    image: rasa/rasa:2.8.6-full
    ports:
      - 5005:5005
    volumes:
      - ./rasa:/app
    
    # To train rasa:
    # - uncomment the following two lines
    # - remove the 'command' section
    # - connect to the container
    # - run 'rasa train nlu'
    # - take note of the output and replace it in the command below

    # entrypoint: /bin/bash
    # tty: true

    command: >
      run
      --enable-api
      -m models/nlu-20211007-103622.tar.gz